<html>
  <head>
    <title>Categories</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body>
    <div
      class="text-center justify-center font-bold text-xl"
      style="margin-top: 7px"
    >
      <h1>Categories</h1>
    </div>
    <div class="flex flex-col items-center justify-center">
      <div
        class="justify-center items-center text-left text-medium"
        style="
          margin-top: 20px;
          margin-left: 20%;
          margin-right: 20%;
          padding: 7px;
          background-color: #c5c4ca;
          margin-bottom: 35px;
          border-radius: 15px;
        "
      >
        {% for productLink in productLinks %} {{ productLink|safe }}
        <br />
        {% endfor %}
      </div>
      <div>
        <a
          href="/"
          type="button"
          class="text-white bg-black hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-wrap px-10"
          style="margin-bottom: 30px; padding-bottom: 10px; padding-top: 10px"
          >Back to home</a
        >
      </div>
    </div>
  </body>
</html>
